@import "~mixins/mediaQueryManager.scss";

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 1rem;

  @include respond(tab-port) {
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  &__grow {
    display: flex;
    flex-direction: column;
    gap: 11.2rem;
    width: 38.4rem;
    max-width: 38.4rem;
  }
}


