@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;

  @include respond(tab-port) {
    margin: 0;
    margin-top: 6rem;
  }

  img {
    width: 5rem;
  }

  &__body {
    margin: 0 2rem;
    max-width: 38.4rem;

    h3 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 150%;
      color: $color-black-3;
    }

    p {
      margin-top: 1rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
      color: $color-gray-13;
    }
  }
}
