@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.main {
  padding: 10rem 12rem 5rem;
  background: $color-gray-2;

  @include respond(tab-port) {
    padding: 2rem 3rem;
  }

  img {
    cursor: pointer;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-top: 1px solid $color-gray-16;
    padding: 0.5rem;
    flex-wrap: wrap;

    @include respond(tab-port) {
      justify-content: center;
      gap: 2rem;
    }
  }

  &__menu_con {
    text-align: center;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 1rem 0;
      justify-self: center;

      li {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 130%;
        // color: $color-gray-17;
        padding: 1rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      li:hover {
        color: $color-gray-14;
      }
    }

    p {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 130%;
      // color: $color-gray-13;
    }
  }

  &__social_con {
    img {
      margin-left: 2rem;
    }
  }
}