@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.main {
  padding: 3rem 2rem;
  background: $color-blue-6;
  margin-top: 5rem;

  @include respond(big-phone) {
    padding: 2rem 4rem;
  }

  &__txt {
    font-weight: 700;
    font-size: 3rem;
    line-height: 105%;
    text-align: center;
    letter-spacing: -1px;
    color: $color-blue-2;

    @include respond(big-phone) {
      font-size: 3rem;
    }

    &__only {
      text-decoration: underline;
      color: $color-black-1;
    }
  }
}
