@import "~mixins/appColors.module.scss";

.dropzone {
  padding: 2rem;
  background: $color-white-1;
  border: 1px dashed $color-gray-6;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: $color-gray-4;

  a {
    color: $color-blue-1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.disable_dropzone {
  opacity: 0.6;
}