@import "~mixins/appColors.module.scss";
@import "~mixins/generalMixins.module.scss";
@import "~mixins/mediaQueryManager.scss";

.popup {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  &__content {
    width: 70%;
    background: $color-white-1;
    color: $color-white-1;
    z-index: 10;
    border-radius: 1.6rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    overflow: auto;

    @include respond(big-desktop) {
      width: 90%;
    }

    @include respond(tab-land) {
      width: 90%;
    }

    @include respond(tab-port) {
      height: 90%;
    }

    &__header {
      background: $color-white-1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem 1rem 0 0;

      &__closeBtn {
        cursor: pointer;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 8px;
        border: none;
        font-size: 1.8rem;
        color: #2c3e50;
        background: $color-white-1;
        transition: all 0.25s ease;
      }

      &__closeBtn:hover {
        @include hover;
      }
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
      padding: 0 2rem 2rem;

      @include respond(tab-port) {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
      }

      .bottom_con {
        grid-column: 1/4;
        text-align: end;
        margin-top: 1rem;
      }
    }
  }
}
