@import "~mixins/generalMixins.module.scss";
@import "~mixins/mediaQueryManager.scss";

.container {
  @include container;

  @include respond(big-phone) {
    padding: 2rem 4rem;
  }
}

.forget__pass {
  &__p {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    margin-top: 8rem;
  }

  &__input {
    margin: 2rem 40rem 15rem 40rem;
  }

  &__Btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 14rem;
    grid-column-gap: 2rem;
  }

  @include txtCenter;
}
