@import "~mixins/generalMixins.module.scss";
@import "~mixins/mediaQueryManager.scss";

.container {
  @include container;

  @include respond(big-phone) {
    padding: 2rem 5rem;
  }
}

.forget__pass {
  &__p {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    margin-top: 8rem;
  }

  &__input {
    margin: 2rem 30rem 15rem 30rem;

    @include respond(tab-port) {
      margin: 2rem 10rem 20rem;
    }

    @include respond(big-phone) {
      margin: 2rem 0rem 20rem;
    }
  }

  &__Btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 14rem;
    grid-column-gap: 2rem;

    @include respond(tab-port) {
      margin: 0 5rem;
    }

    @include respond(big-phone) {
      margin: 0;
    }
  }

  @include txtCenter;
}
