@import "~mixins/appColors.module.scss";

.picker_container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-right: 2rem;
  grid-column-gap: 2rem;
}

.picker_color_left {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__under {
    padding: 2rem;
  }

  &__up_part {
    border-bottom: 1px solid $color-gray-6;
    flex: 1;
  }

  &__select_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

    &__item {
      flex-grow: 1;
      height: 2.5vw;
      border: 0.5px solid $color-gray-6;
    }

    &__item:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &__item:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &__savebtn {
    color: $color-white-1;
    width: 100%;
    margin-top: 5px;
  }

  &__name_title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.picker_color {
  border-radius: 1rem;
  padding: 2rem;
  flex: 0 0 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

  &__title {
    margin-top: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: capitalize;
    color: $color-blue-3;
  }

  &__chrome_picker {
    width: 100% !important;
  }

  &__addbtn {
    color: $color-black-1;
    width: 100%;
    margin-top: 1.5rem;
  }
}

.complete_image {
  margin-top: 5rem;
  margin-bottom: 5rem;
}