@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.customCheckbox {
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: $color-black-1;
  position: relative;
  padding-left: 3rem;

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ .customCheckbox__checkMark {
      background-color: $color-orange-2;
    }

    &:checked ~ .customCheckbox__checkMark::after {
      display: block;
    }
  }
  &__inputWhite {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ .customCheckbox__checkMark {
      background-color: $color-white-1;
    }

    &:checked ~ .customCheckbox__checkMark::after {
      display: block;
    }
  }

  &__checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    border: 1px solid $color-black-1;
    border-radius: 5px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 1px;
      width: 7px;
      height: 1.2rem;
      border: solid $color-black-1;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);

      @include respond(tab-port) {
        left: 4px;
      }

      @include respond(big-phone) {
        left: 2px;
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
      }
    }
  }
}
