@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.footer {
  background-color: $color-black-1;
  & a {
    text-decoration: none;
    color: $color-white-1;
  }
  &__main {
    padding: 4.3rem 23rem 11.8rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond(big-phone) {
      padding: 3rem;
    }
  }
  &__list {
    margin-top: 3rem;

    @include respond(big-phone) {
      margin-top: 1rem;
    }
  }
  &__listItem {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-top: 2.4rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    list-style: none;
    color: $color-white-1;
    cursor: pointer;

    @include respond(big-phone) {
      margin-top: 1.4rem;
      font-size: 1.2rem;
    }
  }
  &__right {
    border-left: 1px solid white;
    padding: 6.5rem 0rem 5rem 3rem;

    @include respond(small-phone) {
      border: none;
      padding: 2rem 0;
    }
  }

  &__rightLink {
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    list-style: none;
    color: $color-white-1;
    cursor: pointer;
  }
  &__heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $color-white-1;

    @include respond(big-phone) {
      font-size: 1.6rem;
    }
  }
  &__btmContainer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(117, 117, 117, 0.5);
  }
  &__logo {
    padding-top: 2rem;
    padding-bottom: 7px;
  }
}
