$color-black-1: #000000;
$color-black-2: #4f4f4f;
$color-black-3: #18191f;
$color-black-4: #1b1d21;
$color-black-5: #191D21;
$color-black-6: #000103;
$color-black-7: #05060A;

$color-white-1: #ffffff;
$color-white-2: #dbe5eb;
$color-white-3: #f8f9fa;
$color-white-4: #fbfbfb;
$color-white-5: #E5E7EB;
$color-white-6: #F3F4F6;

$color-gray-1: #414141;
$color-gray-2: #f9fafb;
$color-gray-3: #667085;
$color-gray-4: #757575;
$color-gray-5: #d9d9d9;
$color-gray-6: #dfdfdf;
$color-gray-7: #949494;
$color-gray-8: #c4c4c4;
$color-gray-9: #606060;
$color-gray-10: #979797;
$color-gray-11: #969bab;
$color-gray-12: #dddddd;
$color-gray-13: #6d7280;
$color-gray-14: #111827;
$color-gray-15: #1A1A1A;
$color-gray-16: #D2D5DA;
$color-gray-17: #4B5563;
$color-gray-18: #5D616F;
$color-gray-19: #333333;
$color-gray-20: #737373;
$color-gray-21: #bdbdbd;

$color-orange-1: #ffc800;
$color-orange-2: #ffdf60;
$color-orange-3: #f6c546;

$color-yellow-1: #f8b417;
$color-yellow-2: #ffea79;
$color-yellow-3: #fff8e3;
$color-yellow-4: #fbde4b;
$color-yellow-5: #ffc107;
$color-yellow-6: #ffa600;

$color-blue-1: #377dff;
$color-blue-2: #072125;
$color-blue-3: #170f49;
$color-blue-4: #2ec5ce;
$color-blue-5: #5ce1e6;
$color-blue-6: #d5fafc;

$color-red-1: #ef1004;
$color-red-2: #f1434c;
$color-red-3: #fe6e06;