@import "~mixins/appColors.module.scss";
@import "~mixins/mediaQueryManager.scss";

.banner {
  padding: 4rem 0;
  background-color: $color-orange-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $color-white-1;
  position: relative;
  cursor: pointer;
  border-top: 1px solid $color-black-1;

  @include respond(big-phone) {
    padding: 2rem;
  }

  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @include respond(big-phone) {
      row-gap: 1rem;
    }
  }
  &__waProducts {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;

    @include respond(big-phone) {
      font-size: 1.4rem;
    }
  }
  &__itUpgrade {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    margin-top: 0.7rem;
    margin-right: 8.5rem;

    @include respond(big-phone) {
      margin-bottom: 1rem;
      margin-top: 0;
      font-size: 2.4rem;

      br {
        display: none;
      }
    }
  }
  &__li {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    display: flex;
    align-items: center;

    @include respond(big-phone) {
      font-size: 1.2rem;
    }
  }
  &__listIcon {
    margin-right: 1.9rem;
  }
}
